.side_left{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ffffff;
    -fx-border-style: solid;
}
.pane_top{
    -fx-background-color: #c8a06aff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #c8a06aff;
}
.sec_pane{
    -fx-background-color: #eeeeea;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
}
.normalBtn{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
.normalMainBtn{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
.Home_btn{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.hBox_main{
    -fx-background-color: #ffffffff;
}
.search_Bar{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
}
.pane_Body1{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
}
.Pane_11{
    -fx-background-color: #FD9999;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #FD9999;
}
.Pane_112{
    -fx-background-color: #ea7070;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #FD9999;
}
.pane_navBar{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #eeeeee;
    -fx-border-style: solid;
}
.bodyy{
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}
fieldtext {
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}
.pane_back_body{
    -fx-background-color: #e0dbdb;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #eeeeee;
    -fx-border-style: solid;
}
.btn_conf{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #001233;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.btn_decline{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #da9a09ff;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.choice-box {
    -fx-background-color: #001233;
    -fx-mark-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.btnQuit{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #da9a09ff;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.textt{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 10px;
}
.maintext{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px;
}
